.App {
	text-align: center;
}

.App-header {
	/* background-color: #282c34; */
	/* background-color: #e9ecef; */
	display: flex;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
	border-bottom: 1px solid black;
	position: fixed;
	top: 0;
	width: 100%;
	overflow: hidden;
	background-color: white;
	z-index: 999;
}

.App-link {
	color: #61dafb;
}

a:hover {
	text-decoration: none;
}
